h1 {
    /*color: rgba(0,0,0,50%); Legacy*/
    /*color: rgb (0 0 0 / 50%);  Modern*/
    /* color: hsl(60, 83%, 50%); Modern*/
    /* color: oklch(0.73 0.1672 165.6) Modern*/
    color: #09f;
    /* border-width: 3px;
    border-style: solid;
    border-color: currentColor; */
}
body {
    background-color: rgb(221, 197, 197);
}
.link {
    color: red;
}
#link {
    color: chocolate;
}
